doctype html
html(lang="es-CL")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        style
            include ./email.css
    body
        h2 Confirma tu cuenta
        p hola, para confirmar tu cuenta haz click en el enlace 
        a(href=`${confirmarUrl}`) Confirmar cuenta
        p Si no puedes acceder al enlace, visita #{confirmarUrl}